.actors{
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
}
.actors h1{
    color: crimson;
    padding: 1rem;
    font-size: 35px;
}
.actors h1 span{
    color: #fff;
}
.actors_cards{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.actors_card{
    width: 30%;
    margin: 2rem 1.3rem 1rem 0rem;
    text-decoration: none;
}
.actors_card img{
    width: 300px;
    border-radius: 20px;
    padding-bottom: 1rem;

}
.nots{
    margin-top: 6rem;
}
.actors_card h4{
    padding-top: 1rem;
    font-size: 23px;
}