.user{
    color: #fff;
}
.user_support{
    display: flex;
    justify-content: space-around;
    align-items: center;
}   
.user_align{
    text-align: center;
}
.user_align img{
    width: 350px;
    padding: 1rem;
}
.user_align h3{
    font-size: 30px;
}
.user_text{
    width: 50%;
}
.user_text h3{
    font-size: 30px;
    padding-bottom: 2rem;
}
.user_text p{
    font-size: 20px;
    line-height: 30px;
    
}