@font-face {
  font-family: "Quick";
  src: url("./assets/fonts/Quicksand-SemiBold.ttf");
}
*::after, *::before, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quick";
}
body{
  background: black;
}
.container{
  width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
a{
  color: #fff;
  font-size: 20px;
}
main{
  width: 100%;
  height: auto;
}
section{
  padding-top: 6rem;
}
::-webkit-scrollbar{
  background: linear-gradient(black, crimson);
}
::-webkit-scrollbar-thumb{
  background: black;
}